Day 40 - Flight Club APP/.env
Day 39 - Flight API Project/.env
Day 35 - API Key/.env
Day 36 - Financial Application/.env
DAY 38 - API Challange/.env
Day 37 - API Post Requests & Headers/.env
Day 47 - Amazon Price Tracker/.env
Day 50 - Tinder Project/.env
Day 49 - Automatic Job Apply/.env
Day 51 - Send Twitter Claim/.env
Day 52 - Automatic Following Instagram/.env
